.sidenav li>a{
	padding: 0 15px;
	font-weight: 1;
}

.dropdown-content li>a, .dropdown-content li>span{
	color: white;
}

.sidenav-trigger i{
	color: white;
}

.slogan{
  font-size: 30px;
}

.green-fest {
	background-color: #00838f ;
}

.navText {
	color: white;
}

nav, nav .nav-wrapper i {
	margin-left: 0px;
}

.brand-logo img {
	/* width: 140px; */
	margin-left: 10px;
}

.yellow-fest {
	background-color: #f8c35b !important;
}

.fb-page{
	width: 430px;
	height: 430px;
}

.dropdown-content li:hover {
   background-color: rgba(0,0,0,0);
}

.programacion {
	height: auto;
	margin-top: 20px;
	display: block;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

.premios {
	height: auto;
	margin-top: 20px;
	display: block;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;	
}