body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.sidenav{
	width: 200px;
}

.sidenav li>a{
	padding: 0 15px;
	font-weight: 1;
}

.dropdown-content li>a, .dropdown-content li>span{
	color: white;
}

.sidenav-trigger i{
	color: white;
}

.slogan{
  font-size: 30px;
}

.mainColor {
	background-color: #00838f ;
}

.navText {
	color: white;
}

nav, nav .nav-wrapper i {
	margin-left: 0px;
}

.brand-logo img {
	width: 140px;
	margin-left: 10px;
}

.inscri{
	background-color: #f8c35b;
}