body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.sidenav{
	width: 200px;
}

.sidenav li>a{
	padding: 0 15px;
	font-weight: 1;
}

.dropdown-content li>a, .dropdown-content li>span{
	color: #cab22a;
}

.sidenav-trigger i{
	color: #cab22a;
}

.slogan{
  font-size: 30px;
}

.mainColor {
	background-color: #0c0b37;
}

.navText {
	color: #cab22a;
}

nav, nav .nav-wrapper i {
	margin-left: 0px;
}
